!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js
  / <![endif]
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title= data.page.title || "Nick Pellant"
    %meta{:content => "Nick Pellant is a software architect based in Manchester, UK. He’s also a writer, speaker and aspiring academic who is dizzied by the profound majesty of the cosmos.", :name => "description"}
    %meta{:content => "width=device-width", :name => "viewport"}
    = stylesheet_link_tag "screen", media: "all"   
    %script{:src => "//use.typekit.net/yuk5ice.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}
    = javascript_include_tag "vendor/modernizr"

  %body{ class: page_classes }
    /[if lt IE 7]
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>

    .container
      = partial 'banner'

      %div{ role: 'main' }
        = yield

    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"}
    :javascript
      window.jQuery || document.write('<script src="javascripts/vendor/jquery.js"><\/script>')
    = javascript_include_tag 'plugins', 'core'
    :javascript
      var _gaq=[['_setAccount','UA-5533012-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
