%header{ role: 'banner' }
  .header-inner
    %nav.header-nav
      .header-intro
        :markdown
          **Nick Pellant** is a technology consultant &amp; software architect based in Bristol, UK. He's also a writer, speaker and social human being.

      %ul
        / %li
        /   = link_to 'Blog', '/'
        /   %p Tech, code & ramblings
        %li
          = link_to 'About', '/'
          %p Biography & colophon
        %li
          = link_to 'Skills', '/skills.html'
          %p What I can do
        / %li
        /   = link_to 'Work', '/work.html'
        /   %p Creations past & present

        %li.header-email-button
          = link_to 'mailto:nick@nickpellant.com', class: 'social-button', title: 'Email me'  do
            %i.fa.fa-envelope
          = link_to 'https://github.com/nickpellant', class: 'social-button', title: 'Review my work on GitHub' do
            %i.fa.fa-github
          = link_to 'https://linkedin.com/in/nickpellant', class: 'social-button', title: 'View my Linkedin profile' do
            %i.fa.fa-linkedin

